---
import { serverDB } from "../firebase/fireabaseAdminInit";
import CharacterTab from "./CharacterTab";
import type { CharacterInformation } from "../types/CharacterInformation";

const { pathname } = Astro.url;

const charName = pathname.split("/")[2];

const ref = (
  await serverDB.collection("Character").doc(charName).get()
).data() as CharacterInformation;
---

<div>
  <CharacterTab client:load information={ref} />
</div>
