---
import { V7CharNames } from "./../constants/characterName";
import { verifyAdmin } from "../firebase/fireabaseAdminInit";
import UserBox from "./UserBox";
import LoginBox from "./LoginBox";

const cookie = Astro.cookies;
const token = cookie.get("token").value;
let user;
if (token && token !== "") {
  const result = await verifyAdmin(token);

  user = {
    displayName: result.name,
    uid: result.uid,
    photoUrl: result.picture,
  };
}
---

<div
  class="scrollbar-hide fixed top-0 left-0 overflow-y-auto h-full w-200px bg-black_1 text-white_1 scrollbar-hide"
>
  <div class="h-60px flex justify-center items-center">
    <a href="/">6N23RP.COM</a>
  </div>
  <div class="flex items-center flex-col">
    {user ? <UserBox user={user} client:load /> : <LoginBox client:load />}
  </div>

  <ul>
    {
      V7CharNames.map((value) => (
        <li>
          <a
            class="py-10px px-30px hover:(text-red-500 bg-black_2) inline-block w-full"
            href={`/v7/${value}`}
          >
            {value}
          </a>
        </li>
      ))
    }
  </ul>
</div>
