---
import CharacterInfo from "../../components/CharacterInfo.astro";
import Layout from "../../layouts/Layout.astro";
import { V7CharNames } from "./../../constants/characterName";
export function getStaticPaths() {
  const V7Path = V7CharNames.map((name) => ({
    params: { name },
  }));

  return V7Path;
}

const { name } = Astro.params;
---

<Layout>
  <div class="h-4vw text-5xl font-bold align-middle">{name}</div><CharacterInfo
  />
</Layout>
