---
import GlobalStyles from "../components/GlobalStyles.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.url.pathname}</title>
  </head>
  <body>
    <main>
      <GlobalStyles />
      <div>
        <Sidebar />
      </div>
      <div class="m-l-200px h-full p-50px"><slot /></div>
    </main>
  </body>
</html>
